<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: black">About Our Cloud Based Attendence System</h1>

		<body bgcolor="lightblue">
         <h2>This is an end to end attendence System which stores the data of the attendence of the Students . The system has been made with help EC2 Instance , RDS and S3 buckets</h2>
         <h2 ><a  href="/"> Back to Login Page</a></h2>
        </body>
    </font>
</center>
</html>
