<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: Black">Employee Information</h1>

		<body bgcolor="lightgreen">

			<form>

				<div>

                    Employee ID: &nbsp  <b>{{ id }}</b> <br><br>

			  		First Name:  &nbsp   <b>{{ fname }}</b> <br><br>

			  		Last Name:  &nbsp    <b>{{ lname }} </b><br><br>

                    Primary Skill:&nbsp  <b>{{ interest }}</b> <br><br>

			  		Location:   &nbsp    <b>{{ location }}</b>  <br><br>

			  		 Image     &nbsp <br>    <img src=" {{ image_url }}" height="250" width="250" /> <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
