<!DOCTYPE html>
<html>
	<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: Black">Student Attendence Record</h1>

		<body bgcolor="lightblue">

			<form>

				<div>

                    			Employee ID: &nbsp  <b>{{ id }}</b> <br><br>

			  		First Name:  &nbsp   <b>{{ fname }}</b> <br><br>

			  		Last Name:  &nbsp    <b>{{ lname }} </b><br><br>

                    			Primary Skill:&nbsp  <b>{{ interest }}</b> <br><br>

			  		Location:   &nbsp    <b>{{ location }}</b>  <br><br>
					
					<table style="width:40%">
					  <tr>
					    <th>Subject</th>
					    <th>Attendence</th>
					  </tr>
					  <tr>
					    <td>Database</td>
					    <td>{{subject_database}}</td>
					  </tr>
					  <tr>
					    <td>Cloud Computing</td>
					    <td><span name="cloudcomputing_subject"></span></td>
					  </tr>
					  <tr>
					    <td>Algorithms</td>
					    <td><span name="algorithms"></span></td>
					  </tr>
					  <tr>
						<td>Operating System</td>
					    <td><span name="operatingsystems_subject"></span></td>
					  </tr>
					</table>

			  		 Image     &nbsp <br>    <img src=" {{ image_url }}" height="250" width="250" /> <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
