<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: Black">Employee Information</h1>

		<body bgcolor="lightgreen">

			<form>

				<div>

			  		Employee ID:   <b>{{ id }}</b> <br><br>

			  		First Name:    <b>{{ fname }}</b> <br><br>

			  		Last Name:     <b>{{ lname }} </b><br><br>

			  		Primary Skill: <b>{{ interest }}</b> <br><br>

			  		Location:      <b>{{ location }}</b>  <br><br>

			  		Image :        <img src=" {{ image_url }}" height="250" width="250" /> <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
