<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: black">Cloud Based Attendence Management System</h1>

		<body bgcolor="lightblue">
        <a href = "/Dharmil/cloud projecy/GetEmployeeInfo.html"><button style="background: grey; height: 45px; width: 200px; color:white; font:oblique; margin: 0;
            position: absolute;
            top: 50%;
            left: 60%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);">ADMIN LOGIN</button></a><br><br>

		     
                <a href = "/Dharmil/cloud projecy/adminlogin.html"><button style="background: grey; height: 45px; width: 200px; color:white; font:oblique; margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);">STUDENT LOGIN</button></a><br><br>

			</form>
<a href="about.html">About Us</a>

		</body>

	</font>
</center>
</html>
